{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - NJ{% endblock %}


{% block body %}
    <p>Test 1</p>
    <ul>
    {% for post in arrayPost %}
       <li {% if post.is_published == false %} style="color:red;" {% endif %} >
            {{ post.title }}        
       </li> 
    {% endfor %}
    </ul>
    
    
    
    <p>Test 2</p>
    <ul>
    {% for post in arrayPost %}
       <li class="{{ (loop.index is odd) ? 'odd' : 'even' }}" style="{{ post.is_published ? '':'color:red;' }}">
            {{ post.title }}        
       </li> 
    {% endfor %}
    </ul>
{% endblock %}